<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat page</title>
</head>
<body>
    <div>

        <h2>user list</h2><br>
        <p>user DB</p>

        <ul>
        
            {%for u in users1%}
            <li>
                
               <a href="/message/{{u.id}}"> 
                {%if u.id == self_ %}
                    Saved massege
                {%else%}
                    {{u.get_fullname}}
                {%endif%}

                </a>
              
            </li><br>
            {%endfor%}
        </ul>

<br><br>
        
    </div>

    <div>
        <h2> Messages: </h2>    <hr>

        <ul>
            {% for m in messages %}
            <li>
                    {{m.sender.first_name}} : {{m.text}}
            </li>

            {% endfor %}
        </ul>


    </div>


    <div>
        <form method="POST" action="add">{% csrf_token %}
            <textarea  name="text" rows="3" cols="50"></textarea>
            <input type="hidden" name="receiver" value="{{receiver}}">
            <input type="submit" value="Send Message">



        
        </form>

    </div>
</body>
</html>