<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    
    <tr class="special">
        <td> sama</td>
        <td> sama@gmail@.com</td>
        <td> 1-130-549-5961</td>
    </tr>

    <tr class="special">
        <td> ali</td>
        <td> ali@gmail@.com</td>
        <td> 1-520-467-8561</td>
    </tr>

    <tr class="special">
        <td> hasan</td>
        <td> hasan@gmail@.com</td>
        <td> 1-678-127-4214 </td>
    </tr>

    <tr class="special">
        <td> mamad</td>
        <td> mamad@gmail@.com</td>
        <td> 1-520-124-5231 </td>
    </tr>


   <div class="table">
    <table>

        <tr>
            <td> masane</td>
            <td> masane@gmail@.com</td>
            <td> 1-530-144-5141</td>
        </tr>
        
        <tr>
            <td> gholi</td>
            <td> gholi@gmail@.com</td>
            <td> 1-213-514-5214</td>
        </tr>
        
        <tr>
            <td> xenon</td>
            <td> xenon@gmail@.com</td>
            <td> 1-131-421-3421</td>
        </tr>
        
        <tr>
            <td> maamad</td>
            <td> maamad@gmail@.com</td>
            <td> 29956156</td>
        </tr>

    </table>

   </div>


</body>
</html>